/*map-get*/
.carrito__icono--color {
  color: #fdfdfd; }

.tituloTeneme__titulo--color {
  color: white; }

.menu__item--color {
  color: white; }

.menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
  color: white; }

.copyright {
  background-color: #b0afa4; }

/*-------------------seccion Nosotros----------------*/
.tituloSeccion h1 {
  color: white;
  text-transform: uppercase; }

.texto1, .texto2 {
  color: white; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #303030; } }

/*-------------------seccion Productos--------------------*/
.presentacionProductos {
  background: radial-gradient(#49494f, #303030); }

.tituloProductos__titulo--color {
  color: white; }

.card-text {
  color: white; }

/*----------------seccion Preguntas Frecuentes-------------*/
.card {
  background: radial-gradient(#49494f, #303030); }

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color {
  color: white; }

.btn {
  color: white; }

.btn-link {
  color: white; }

.btn-link:hover {
  color: white; }

.respuesta {
  color: #c4bfbe; }

/*--------------------inicio seccion Envios Mobile First--------------------*/
.enviosDomicilio {
  background: radial-gradient(#49494f, #303030); }

/*map-get*/
@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  .imgFluid {
    width: 99%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0; }
  .imgFluid {
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0; }
  .imgFluid {
    width: 100%; } }

.borde {
  border: 1px solid white; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .borde {
      border: none; } }
  @media only screen and (min-width: 1024px) {
    .borde {
      border: none; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  div.carrito {
    position: absolute;
    top: 20px;
    right: 20px; } }

.paddingCarousel {
  padding-right: 0px;
  padding-left: 0px; }

.container-fluid, footer, article, .presentacionProductos {
  border-top: 2px solid white; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    border-top: 2px solid white; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footerGrid2 {
    display: flex;
    justify-content: space-around;
    padding: 20px; } }

@media only screen and (min-width: 1024px) {
  .footerGrid2 {
    display: flex;
    justify-content: space-around;
    padding: 20px; } }

.containerRedesSociales {
  border: 1px solid white; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .containerRedesSociales {
      border: none; } }
  @media only screen and (min-width: 1024px) {
    .containerRedesSociales {
      border: none; } }

.cuenta, .ingresa, .registrarse {
  display: flex;
  justify-content: center; }

.ingresoRegistro h5 {
  margin-top: 10px; }

.ingresa p, .registrarse p {
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 10px; }

.copyright {
  display: flex;
  justify-content: flex-end; }
  .copyright p {
    margin-right: 20px; }

/*------------------seccion Nosotros Mobile First-----------------------*/
.tituloSeccion h1 {
  display: flex;
  justify-content: center; }

.tituloSeccion h1 {
  padding: 10px;
  margin: 10px; }
  @media only screen and (min-width: 1024px) {
    .tituloSeccion h1 {
      padding: 30px; } }

.imagen1, .imagen2 {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid white; }

.textoNosotros {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.texto1, .texto2 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 15px; }

/*-----------------------cierre seccion Nosotros Mobile First-----------------------*/
/*-----------------------inicio seccion Nosotros Vista Tablet-----------------------*/
@media only screen and (max-width: 768px) {
  .categoriasProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; } }

@media only screen and (max-width: 768px) {
  .tituloProductos {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .tituloProductos__titulo--text-align {
    text-align: center; } }

.tituloProductos__titulo--padding {
  padding: 10px; }
  @media only screen and (min-width: 1024px) {
    .tituloProductos__titulo--padding {
      padding: 30px; } }

@media only screen and (min-width: 1024px) {
  .categoriasProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-bottom: 40px; } }

@media only screen and (min-width: 1024px) {
  .producto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    height: 150px;
    margin-right: 50px;
    margin-bottom: 150px;
    margin-left: 50px; } }

@media only screen and (min-width: 1024px) {
  .card-body {
    width: 100%;
    display: flex;
    justify-content: center; }
    .card-body p {
      vertical-align: middle; } }

.card-text {
  text-align: center; }

/*-----------------------cierre seccion Nosotros Vista Tablet-----------------------*/
.tituloPreguntas__titulo--padding {
  padding-top: 30px;
  padding-bottom: 30px; }

.tituloPreguntas__titulo--text-align {
  text-align: center; }

.respuesta {
  text-align: left;
  margin-left: 20px; }

/*--------------------inicio seccion Preguntas Frecuentes---------------------*/
.containerPreguntasRespuestas {
  padding: 25px; }

@media only screen and (max-width: 768px) {
  .acordeon--paddingBottom {
    padding-bottom: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .acordeon--paddingBottom {
    padding-bottom: 50px; } }

/*-----------------------inicio seccion Productos Vista Desktop-----------------------*/
@media only screen and (min-width: 1024px) {
  .presentacionProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px; } }

/*---------------------inicio seccion Envios Vista Mobile ----------------------------*/
.tituloEnvios__titulo--padding {
  padding: 20px; }

.tituloEnvios__titulo--textAlign, .texto--textalign {
  text-align: center; }

.texto--padding {
  padding: 5px; }

@media only screen and (max-width: 768px) {
  .videoEnvios {
    width: 100%; } }

/*map-get*/
.carrito__icono--color {
  color: #fdfdfd; }

.tituloTeneme__titulo--color {
  color: white; }

.menu__item--color {
  color: white; }

.menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
  color: white; }

.copyright {
  background-color: #b0afa4; }

/*-------------------seccion Nosotros----------------*/
.tituloSeccion h1 {
  color: white;
  text-transform: uppercase; }

.texto1, .texto2 {
  color: white; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #303030; } }

/*-------------------seccion Productos--------------------*/
.presentacionProductos {
  background: radial-gradient(#49494f, #303030); }

.tituloProductos__titulo--color {
  color: white; }

.card-text {
  color: white; }

/*----------------seccion Preguntas Frecuentes-------------*/
.card {
  background: radial-gradient(#49494f, #303030); }

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color {
  color: white; }

.btn {
  color: white; }

.btn-link {
  color: white; }

.btn-link:hover {
  color: white; }

.respuesta {
  color: #c4bfbe; }

/*--------------------inicio seccion Envios Mobile First--------------------*/
.enviosDomicilio {
  background: radial-gradient(#49494f, #303030); }

/*------------------inicio Index Vista Mobile First ---------------------*/
.gridContainer {
  display: grid;
  grid-template-areas: "logo" "encabezado" "encabezado2" "carrousel" "redes" "pagos" "ingresoRegistro" "copyright";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #303030; }

header {
  grid-area: logo;
  display: flex;
  justify-content: center;
  position: relative; }

.carrito {
  grid-area: logo;
  position: absolute;
  top: 20px;
  right: 20px; }

nav.navIzq {
  grid-area: encabezado; }
  nav.navIzq ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0px; }
    nav.navIzq ul li {
      list-style-type: none;
      padding: 10px; }
      nav.navIzq ul li a {
        text-decoration: none; }
    nav.navIzq ul ul {
      display: none; }

nav.navDer {
  grid-area: encabezado2; }
  nav.navDer ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0px; }
    nav.navDer ul li {
      list-style-type: none;
      padding: 10px; }
      nav.navDer ul li a {
        text-decoration: none; }

section {
  grid-area: carrousel; }

.item {
  position: relative; }

.absoluteDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.carouselCaption {
  position: absolute;
  z-index: 1;
  display: table;
  width: 100%;
  height: 100%; }
  .carouselCaption h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family: forum; }

.tituloTeneme {
  display: none; }

.menuInferior {
  display: none; }

.redes {
  grid-area: redes; }
  .redes ul {
    display: flex;
    justify-content: space-around; }
    .redes ul li {
      list-style-type: none;
      padding: 5px; }
      .redes ul li a {
        text-decoration: none;
        margin-top: 15px;
        border-radius: 50%;
        padding: .6em .6em; }

.pagos {
  grid-area: pagos; }
  .pagos ul {
    display: flex;
    justify-content: space-around; }
    .pagos ul li {
      list-style-type: none;
      padding: 5px; }
      .pagos ul li a {
        text-decoration: none;
        margin-top: 15px;
        border-radius: 50%;
        padding: .6em .6em; }

.redes ul li a:hover, .pagos ul li a:hover {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: white;
  color: #ecce1f; }

.ingresoRegistro {
  grid-area: ingresoRegistro; }

.copyright {
  grid-area: copyright; }

/*----------------------------cierre Index Vista Mobile First----------------------------*/
/*---------------------------inicio Index Vista Tablet----------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "encabezado logo encabezado2" "carrousel carrousel carrousel" "footer footer footer";
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo; }
  .carrito {
    grid-area: encabezado2; }
  nav.navIzq {
    grid-area: encabezado; }
    nav.navIzq ul {
      display: flex;
      justify-content: space-around;
      margin-top: 43px; }
      nav.navIzq ul li {
        padding: 5px; }
        nav.navIzq ul li a {
          align-self: center; }
  nav.navDer {
    grid-area: encabezado2; }
    nav.navDer ul {
      display: flex;
      justify-content: space-around;
      margin-top: 43px; }
      nav.navDer ul li {
        padding: 5px; }
        nav.navDer ul li a {
          align-self: center; }
  nav.navIzq ul li a:hover, nav.navDer ul li a:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #edece7;
    color: #ecce1f;
    border-radius: 0px 20px;
    padding: 10px; }
  nav.navIzq ul ul {
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 15px; }
    nav.navIzq ul ul li {
      display: block;
      width: 150px;
      background-color: white;
      border-radius: 3px;
      margin-bottom: 5px; }
      nav.navIzq ul ul li a {
        color: black; }
  .navIzq ul li:hover ul {
    display: block; }
  section {
    grid-area: carrousel; }
  .item {
    position: relative; }
  .absoluteDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .carouselCaption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%; }
    .carouselCaption h1 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: white;
      font-family: forum; }
  footer {
    grid-area: footer; }
  footer .tituloTeneme {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; }
  footer .menuInferior {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 10px; }
    footer .menuInferior ul li {
      list-style-type: none;
      padding: 5px; }
      footer .menuInferior ul li a {
        text-decoration: none; } }

/*---------------------------cierre Index Vista Tablet----------------------------------*/
/*---------------------------inicio Index Vista Desktop----------------------------------*/
@media only screen and (min-width: 1024px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "encabezado encabezado logo logo encabezado2 encabezado2" "carrousel carrousel carrousel carrousel carrousel carrousel" "footer footer footer footer footer footer";
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo; }
  div.carrito {
    grid-area: encabezado2; }
  nav.navIzq {
    grid-area: encabezado; }
    nav.navIzq ul {
      display: flex;
      justify-content: space-around;
      font-size: 18px;
      margin-top: 80px; }
      nav.navIzq ul li {
        padding: 5px; }
        nav.navIzq ul li a {
          align-self: center; }
  nav.navDer {
    grid-area: encabezado2; }
    nav.navDer ul {
      display: flex;
      justify-content: space-around;
      font-size: 18px;
      margin-top: 80px; }
      nav.navDer ul li {
        padding: 5px; }
        nav.navDer ul li a {
          align-self: center; }
  nav.navIzq ul li a:hover, nav.navDer ul li a:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #edece7;
    color: #ecce1f;
    border-radius: 0px 20px;
    padding: 10px; }
  nav.navIzq ul ul {
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 15px; }
    nav.navIzq ul ul li {
      display: block;
      width: 150px;
      background-color: white;
      border-radius: 3px;
      margin-bottom: 5px; }
      nav.navIzq ul ul li a {
        color: black; }
  .navIzq ul li:hover ul {
    display: block; }
  section {
    grid-area: carrousel; }
  .item {
    position: relative; }
  .absoluteDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .carouselCaption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%; }
    .carouselCaption h1 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: white;
      font-family: forum; }
  footer {
    grid-area: footer; }
  footer .tituloTeneme {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; }
  footer .menuInferior {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 10px; }
    footer .menuInferior ul li {
      list-style-type: none;
      padding: 5px; }
      footer .menuInferior ul li a {
        text-decoration: none; } }

/*---------------------------cierre Index Vista Desktop----------------------------------*/
/*map-get*/
.menu__item--fontFamily {
  font-family: forum; }

.menu__item--fontSize {
  font-size: 19px; }

@media only screen and (max-width: 768px) {
  .carouselCaption__item--fontSize {
    font-size: 25px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carouselCaption__item--fontSize {
    font-size: 60px; } }

@media only screen and (min-width: 1024px) {
  .carouselCaption__item--fontSize {
    font-size: 90px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tituloTeneme__titulo--fontFamily {
    font-family: forum; } }

@media only screen and (min-width: 1024px) {
  .tituloTeneme__titulo--fontFamily {
    font-family: forum; } }

.menuInferior__item--fontFamily {
  font-family: forum; }

.cuenta__titulo--fontFamily, .ingresa__texto--fontFamily, .registrarse__texto--fontFamily, .copyright__texto--fontFamily {
  font-family: forum; }

/*--------------------seccion Nosotros-------------------------*/
.tituloSeccion h1 {
  font-family: forum; }
  @media only screen and (min-width: 1024px) {
    .tituloSeccion h1 {
      font-size: 40px; } }

.texto1, .texto2 {
  font-Family: forum; }

/*------------------seccion Productos------------------------*/
.tituloProductos__titulo--fontFamily {
  font-family: forum; }

.tituloProductos__titulo--fontsize {
  font-size: 40px; }

.card-text {
  font-family: forum;
  font-weight: bold; }

.tituloPreguntas__titulo--fontFamily, .tituloEnvios__titulo--fontFamily, .texto--fontFamily {
  font-family: forum; }

.tituloPreguntas__titulo--fontSize, .tituloEnvios__titulo--fontSize {
  font-size: 33px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .tituloPreguntas__titulo--fontSize, .tituloEnvios__titulo--fontSize {
      font-size: 40px; } }

.btn {
  font-family: forum;
  font-size: 20px; }

.respuesta {
  font-family: forum;
  font-size: 18px; }

.texto--fontSize {
  font-size: 17px; }

/*map-get*/
.carrito__icono--color {
  color: #fdfdfd; }

.tituloTeneme__titulo--color {
  color: white; }

.menu__item--color {
  color: white; }

.menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
  color: white; }

.copyright {
  background-color: #b0afa4; }

/*-------------------seccion Nosotros----------------*/
.tituloSeccion h1 {
  color: white;
  text-transform: uppercase; }

.texto1, .texto2 {
  color: white; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #303030; } }

/*-------------------seccion Productos--------------------*/
.presentacionProductos {
  background: radial-gradient(#49494f, #303030); }

.tituloProductos__titulo--color {
  color: white; }

.card-text {
  color: white; }

/*----------------seccion Preguntas Frecuentes-------------*/
.card {
  background: radial-gradient(#49494f, #303030); }

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color {
  color: white; }

.btn {
  color: white; }

.btn-link {
  color: white; }

.btn-link:hover {
  color: white; }

.respuesta {
  color: #c4bfbe; }

/*--------------------inicio seccion Envios Mobile First--------------------*/
.enviosDomicilio {
  background: radial-gradient(#49494f, #303030); }

/*map-get*/
.carrito__icono--color {
  color: #fdfdfd; }

.tituloTeneme__titulo--color {
  color: white; }

.menu__item--color {
  color: white; }

.menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
  color: white; }

.copyright {
  background-color: #b0afa4; }

/*-------------------seccion Nosotros----------------*/
.tituloSeccion h1 {
  color: white;
  text-transform: uppercase; }

.texto1, .texto2 {
  color: white; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #303030; } }

/*-------------------seccion Productos--------------------*/
.presentacionProductos {
  background: radial-gradient(#49494f, #303030); }

.tituloProductos__titulo--color {
  color: white; }

.card-text {
  color: white; }

/*----------------seccion Preguntas Frecuentes-------------*/
.card {
  background: radial-gradient(#49494f, #303030); }

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color {
  color: white; }

.btn {
  color: white; }

.btn-link {
  color: white; }

.btn-link:hover {
  color: white; }

.respuesta {
  color: #c4bfbe; }

/*--------------------inicio seccion Envios Mobile First--------------------*/
.enviosDomicilio {
  background: radial-gradient(#49494f, #303030); }

.gridContainerNosotros {
  display: grid;
  grid-template-areas: "logo" "encabezado" "encabezado2" "nosotros" "redes" "pagos" "ingresoRegistro" "copyright";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #303030; }

header {
  grid-area: logo; }

.carrito {
  grid-area: logo; }

nav.navIzq {
  grid-area: encabezado; }

nav.navDer {
  grid-area: encabezado2; }

article .nosotros {
  grid-area: nosotros; }

.tituloTeneme {
  display: none; }

.menuInferior {
  display: none; }

.redes {
  grid-area: redes; }

.pagos {
  grid-area: pagos; }

.ingresoRegistro {
  grid-area: ingresoRegistro; }

/*----------------------------cierre Nosotros Vista Mobile First ------------------------------*/
/*----------------------------inicio Nosotros Vista Tablet ----------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gridContainerNosotros {
    display: grid;
    grid-template-areas: "encabezado logo encabezado2" "nosotros nosotros nosotros" "footer footer footer";
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo; }
  .carrito {
    grid-area: encabezado2; }
  nav.navIzq {
    grid-area: encabezado; }
    nav.navIzq ul {
      display: flex;
      justify-content: space-around;
      margin-top: 43px; }
      nav.navIzq ul li {
        padding: 5px; }
        nav.navIzq ul li a {
          align-self: center; }
  nav.navDer {
    grid-area: encabezado2; }
    nav.navDer ul {
      display: flex;
      justify-content: space-around;
      margin-top: 43px; }
      nav.navDer ul li {
        padding: 5px; }
        nav.navDer ul li a {
          align-self: center; }
  nav.navIzq ul li a:hover, nav.navDer ul li a:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #edece7;
    color: #ecce1f;
    border-radius: 0px 20px;
    padding: 10px; }
  nav.navIzq ul ul {
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 15px; }
    nav.navIzq ul ul li {
      display: block;
      width: 150px;
      background-color: white;
      border-radius: 3px;
      margin-bottom: 5px; }
      nav.navIzq ul ul li a {
        color: black; }
  .navIzq ul li:hover ul {
    display: block; }
  article {
    grid-area: nosotros;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: radial-gradient(#49494f, #303030); }
  .containerImagenTexto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 30px; }
  .imagen1 {
    width: 230px;
    height: 200px;
    padding: 15px;
    margin-left: 45px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #ffffff;
    margin-bottom: 5px;
    transform: rotate(-45deg); }
  .imagen2 {
    width: 230px;
    height: 200px;
    padding: 15px;
    margin-left: 100px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 30px #ffffff;
    transform: rotate(45deg); }
  .textoNosotros {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 50px; }
    .textoNosotros p {
      font-size: 18px; }
  footer {
    grid-area: footer; } }

/*----------------------------cierre Nosotros Vista Tablet ----------------------------------*/
/*----------------------------cierre Nosotros Vista Desktop ----------------------------------*/
@media only screen and (min-width: 1024px) {
  .gridContainerNosotros {
    display: grid;
    grid-template-areas: "encabezado encabezado logo logo encabezado2 encabezado2" "nosotros nosotros nosotros nosotros nosotros nosotros" "footer footer footer footer footer footer";
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo; }
  div.carrito {
    grid-area: encabezado2; }
  nav.navIzq {
    grid-area: encabezado; }
    nav.navIzq ul {
      display: flex;
      justify-content: space-around;
      font-size: 18px;
      margin-top: 80px; }
      nav.navIzq ul li {
        padding: 5px; }
        nav.navIzq ul li a {
          align-self: center; }
  nav.navDer {
    grid-area: encabezado2; }
    nav.navDer ul {
      display: flex;
      justify-content: space-around;
      font-size: 18px;
      margin-top: 80px; }
      nav.navDer ul li {
        padding: 5px; }
        nav.navDer ul li a {
          align-self: center; }
  nav.navIzq ul li a:hover, nav.navDer ul li a:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #edece7;
    color: #ecce1f;
    border-radius: 0px 20px;
    padding: 10px; }
  nav.navIzq ul ul {
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 15px; }
    nav.navIzq ul ul li {
      display: block;
      width: 150px;
      background-color: white;
      border-radius: 3px;
      margin-bottom: 5px; }
      nav.navIzq ul ul li a {
        color: black; }
  .navIzq ul li:hover ul {
    display: block; }
  article {
    grid-area: nosotros;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: radial-gradient(#49494f, #303030); }
  .containerImagenTexto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 70px; }
  .imagen1 {
    width: 230px;
    height: 200px;
    padding: 15px;
    margin-left: 90px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #ffffff;
    margin-bottom: 5px;
    transform: rotate(-45deg); }
  .imagen2 {
    width: 230px;
    height: 200px;
    padding: 15px;
    margin-left: 200px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 30px #ffffff;
    transform: rotate(45deg); }
  .textoNosotros {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 100px; }
    .textoNosotros p {
      font-size: 18px; }
  footer {
    grid-area: footer; }
  footer .tituloTeneme {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; }
  footer .menuInferior {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 10px; }
    footer .menuInferior ul li {
      list-style-type: none;
      padding: 5px; }
      footer .menuInferior ul li a {
        text-decoration: none; } }

/*----------------------------cierre Nosotros Vista Desktop ----------------------------------*/
/*map-get*/
.carrito__icono--color {
  color: #fdfdfd; }

.tituloTeneme__titulo--color {
  color: white; }

.menu__item--color {
  color: white; }

.menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
  color: white; }

.copyright {
  background-color: #b0afa4; }

/*-------------------seccion Nosotros----------------*/
.tituloSeccion h1 {
  color: white;
  text-transform: uppercase; }

.texto1, .texto2 {
  color: white; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #303030; } }

/*-------------------seccion Productos--------------------*/
.presentacionProductos {
  background: radial-gradient(#49494f, #303030); }

.tituloProductos__titulo--color {
  color: white; }

.card-text {
  color: white; }

/*----------------seccion Preguntas Frecuentes-------------*/
.card {
  background: radial-gradient(#49494f, #303030); }

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color {
  color: white; }

.btn {
  color: white; }

.btn-link {
  color: white; }

.btn-link:hover {
  color: white; }

.respuesta {
  color: #c4bfbe; }

/*--------------------inicio seccion Envios Mobile First--------------------*/
.enviosDomicilio {
  background: radial-gradient(#49494f, #303030); }

/*------------------------inicio Productos Vista Mobile First---------------------------*/
.gridProductos {
  display: grid;
  grid-template-areas: "logo" "encabezado" "encabezado2" "productos" "redes" "pagos" "ingresoRegistro" "copyright";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #303030; }

header {
  grid-area: logo;
  display: flex;
  justify-content: center;
  position: relative; }

.carrito {
  grid-area: logo;
  position: absolute;
  top: 20px;
  right: 20px; }

nav.navIzq {
  grid-area: encabezado;
  background-color: #303030; }
  nav.navIzq ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0px; }
    nav.navIzq ul li {
      list-style-type: none;
      padding: 10px; }
      nav.navIzq ul li a {
        text-decoration: none; }
    nav.navIzq ul ul {
      display: none; }

nav.navDer {
  grid-area: encabezado2;
  background-color: #303030; }
  nav.navDer ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0px; }
    nav.navDer ul li {
      list-style-type: none;
      padding: 10px; }
      nav.navDer ul li a {
        text-decoration: none; }

.presentacionProductos {
  grid-area: productos;
  background: #303030; }

.tituloTeneme {
  display: none; }

.menuInferior {
  display: none; }

.redes {
  grid-area: redes; }

.pagos {
  grid-area: pagos; }

.ingresoRegistro {
  grid-area: ingresoRegistro; }

/*------------------------cierre Productos Vista Mobile First---------------------------*/
/*------------------------inico Productos Tablet---------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gridProductos {
    display: grid;
    grid-template-areas: "encabezado logo encabezado2" "productos productos productos" "footer footer footer";
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo;
    display: flex;
    justify-content: center; }
  .carrito {
    grid-area: encabezado2; }
  nav.navIzq {
    grid-area: encabezado; }
    nav.navIzq ul {
      display: flex;
      justify-content: space-around;
      margin-top: 43px; }
      nav.navIzq ul li {
        padding: 5px; }
        nav.navIzq ul li a {
          align-self: center; }
  nav.navDer {
    grid-area: encabezado2; }
    nav.navDer ul {
      display: flex;
      justify-content: space-around;
      margin-top: 43px; }
      nav.navDer ul li {
        padding: 5px; }
        nav.navDer ul li a {
          align-self: center; }
  nav.navIzq ul li a:hover, nav.navDer ul li a:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #edece7;
    color: #ecce1f;
    border-radius: 0px 20px;
    padding: 10px; }
  nav.navIzq ul ul {
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 15px; }
    nav.navIzq ul ul li {
      display: block;
      width: 150px;
      background-color: white;
      border-radius: 3px;
      margin-bottom: 5px; }
      nav.navIzq ul ul li a {
        color: black; }
  .navIzq ul li:hover ul {
    display: block; }
  main.presentacionProductos {
    grid-area: productos; }
  footer {
    grid-area: footer; } }

/*------------------------cierre Productos Tablet---------------------------*/
/*------------------------inicio Productos Desktop---------------------------*/
@media only screen and (min-width: 1024px) {
  .gridProductos {
    display: grid;
    grid-template-areas: "encabezado encabezado logo logo encabezado2 encabezado2" "productos productos productos productos productos productos" "footer footer footer footer footer footer";
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo;
    display: flex;
    justify-content: center; }
  nav.navIzq {
    grid-area: encabezado; }
  nav.navDer {
    grid-area: encabezado2; }
  .carrito {
    grid-area: encabezado2; }
  main .presentacionProductos {
    grid-area: productos; }
  footer {
    grid-area: footer;
    background-color: #303030; } }

/*------------------------cierre Productos Desktop---------------------------*/
/*map-get*/
.carrito__icono--color {
  color: #fdfdfd; }

.tituloTeneme__titulo--color {
  color: white; }

.menu__item--color {
  color: white; }

.menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
  color: white; }

.copyright {
  background-color: #b0afa4; }

/*-------------------seccion Nosotros----------------*/
.tituloSeccion h1 {
  color: white;
  text-transform: uppercase; }

.texto1, .texto2 {
  color: white; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #303030; } }

/*-------------------seccion Productos--------------------*/
.presentacionProductos {
  background: radial-gradient(#49494f, #303030); }

.tituloProductos__titulo--color {
  color: white; }

.card-text {
  color: white; }

/*----------------seccion Preguntas Frecuentes-------------*/
.card {
  background: radial-gradient(#49494f, #303030); }

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color {
  color: white; }

.btn {
  color: white; }

.btn-link {
  color: white; }

.btn-link:hover {
  color: white; }

.respuesta {
  color: #c4bfbe; }

/*--------------------inicio seccion Envios Mobile First--------------------*/
.enviosDomicilio {
  background: radial-gradient(#49494f, #303030); }

/*------------------------inicio Preguntas Frecuentes Vista Mobile First---------------------------*/
.gridPreguntasFrecuentes {
  display: grid;
  grid-template-areas: "logo" "encabezado" "encabezado2" "preguntas" "redes" "pagos" "ingresoRegistro" "copyright";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #303030; }

header {
  grid-area: logo; }

.carrito {
  grid-area: logo; }

nav.navIzq {
  grid-area: encabezado; }

nav.navDer {
  grid-area: encabezado2; }

.containerPreguntasRespuestas {
  grid-area: preguntas;
  background: radial-gradient(#49494f, #303030); }

.tituloTeneme {
  display: none; }

.menuInferior {
  display: none; }

.redes {
  grid-area: redes; }

.pagos {
  grid-area: pagos; }

.ingresoRegistro {
  grid-area: ingresoRegistro; }

.copyright {
  grid-area: copyright; }

/*------------------------------------cierre Preguntas Frecuentes Vista Mobile First-----------------------------------*/
/*------------------------------------Inicio Preguntas Frecuentes Vista Tablet-----------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gridPreguntasFrecuentes {
    display: grid;
    grid-template-areas: "encabezado logo encabezado2" "preguntas preguntas preguntas" "footer footer footer";
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo; }
  .carrito {
    grid-area: encabezado2; }
  nav.navIzq {
    grid-area: encabezado; }
  nav.navDer {
    grid-area: encabezado2; }
  .containerPreguntasRespuestas {
    grid-area: preguntas; }
  footer {
    grid-area: footer; } }

/*------------------------------------cierre Preguntas Frecuentes Vista Tablet-----------------------------------*/
/*------------------------------------inicio Preguntas Frecuentes Vista Desktop-----------------------------------*/
@media only screen and (min-width: 1024px) {
  .gridPreguntasFrecuentes {
    display: grid;
    grid-template-areas: "encabezado encabezado logo logo encabezado2 encabezado2" "preguntas preguntas preguntas preguntas preguntas preguntas" "footer footer footer footer footer footer";
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
    grid-template-rows: auto 800px auto auto;
    background-color: #303030; }
  header {
    grid-area: logo; }
  .carrito {
    grid-area: encabezado2; }
  nav.navIzq {
    grid-area: encabezado; }
  nav.navDer {
    grid-area: encabezado2; }
  .containerPreguntasRespuestas {
    grid-area: preguntas;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }
  footer {
    grid-area: footer; } }

/*------------------------------------cierre Preguntas Frecuentes Vista Desktop-----------------------------------*/
/*map-get*/
.carrito__icono--color {
  color: #fdfdfd; }

.tituloTeneme__titulo--color {
  color: white; }

.menu__item--color {
  color: white; }

.menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
  color: white; }

.copyright {
  background-color: #b0afa4; }

/*-------------------seccion Nosotros----------------*/
.tituloSeccion h1 {
  color: white;
  text-transform: uppercase; }

.texto1, .texto2 {
  color: white; }

@media only screen and (max-width: 768px) {
  footer {
    background-color: #303030; } }

/*-------------------seccion Productos--------------------*/
.presentacionProductos {
  background: radial-gradient(#49494f, #303030); }

.tituloProductos__titulo--color {
  color: white; }

.card-text {
  color: white; }

/*----------------seccion Preguntas Frecuentes-------------*/
.card {
  background: radial-gradient(#49494f, #303030); }

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color {
  color: white; }

.btn {
  color: white; }

.btn-link {
  color: white; }

.btn-link:hover {
  color: white; }

.respuesta {
  color: #c4bfbe; }

/*--------------------inicio seccion Envios Mobile First--------------------*/
.enviosDomicilio {
  background: radial-gradient(#49494f, #303030); }

/*------------------------inicio Productos Vista Mobile First---------------------------*/
.gridEnvios {
  display: grid;
  grid-template-areas: "logo" "encabezado" "encabezado2" "envios" "redes" "pagos" "ingresoRegistro" "copyright";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #303030; }

header {
  grid-area: logo; }

.carrito {
  grid-area: logo; }

nav.navIzq {
  grid-area: encabezado; }

nav.navDer {
  grid-area: encabezado2; }

.enviosDomicilio {
  grid-area: envios; }

.tituloTeneme {
  display: none; }

.menuInferior {
  display: none; }

.redes {
  grid-area: redes; }

.pagos {
  grid-area: pagos; }

.ingresoRegistro {
  grid-area: ingresoRegistro; }

/*------------------------cierre Envios Vista Mobile First---------------------------*/
/*------------------------inicio Envios Vista Tablet---------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gridEnvios {
    display: grid;
    grid-template-areas: "encabezado logo encabezado2" "envios envios envios" "footer footer footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #303030; }
  header {
    grid-area: logo; }
  .carrito {
    grid-area: logo; }
  nav.navIzq {
    grid-area: encabezado; }
  nav.navDer {
    grid-area: encabezado2; }
  .enviosDomicilio {
    grid-area: envios; }
  footer {
    grid-area: footer; } }

/*------------------------cierre Envios Vista Tablet---------------------------*/
