@import "colores";

$marginBottomNavMobile:0px;
$paddingNavLiMobile:10px;
$paddingZero: 0px;
$marginZero: 0px;


$flex:flex;
$justify-center:center;
$inlineFlex:inline-flex;
$spaceAround:space-around;
$justify-flex-end: flex-end;
$justify-flex-start: flex-start;

@mixin flex-justify-center {
	display:$flex;
	justify-content: $justify-center;
}

@mixin flex-justify-align-content {
	display:$flex;
	justify-content: center;
	align-content: center;
}

@mixin flex-row-justify {
	display: $flex;
	flex-flow: row wrap;
	justify-content: center;
}

@mixin justify-flex-end {
    display: flex;
    justify-content: flex-end;
}

@mixin justify-space-around {
    display: flex;
    justify-content: space-around;
}

@mixin justify-flex-start {
    display: flex;
    justify-content: flex-start;
}

$positionabs:absolute;
$positionrel:relative;
$positionTop:20px;
$positionRight:20px;

@mixin position-absolute {
	position: $positionabs;
	top: 20px;
	top: 20px;
}

/*map-get*/
$estilos: (
  tpadding:10px,
  tmargin:10px,
  alineacionTexto: justify,
  paddingTexto1: 10px 15px
);

$border-none: none;
$border-top: 2px solid white;

@media only screen and (max-width: 768px){
	* { margin: 0; padding: 0; }
	
	.imgFluid { width: 99%; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	* { margin: 0; padding: 0; }
	
	.imgFluid { width: 100%; }
}
@media only screen and (min-width: 1024px) {
	* { margin: 0; padding: 0; }
	
	.imgFluid { width: 100%; }

}

.borde {
    border-top: 2px solid $colorLines;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    border: $border-none;
    }
    @media only screen and (min-width: 1024px) {
    border: $border-none;
    }
}

div.carrito {
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
	position: $positionabs;
	top: 20px;
	right: 20px;}
}

.paddingCarousel {
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid, footer, article, .presentacionProductos, .contenidoError, .enviosDomicilio {
    border-top: $border-top;
}

footer {
	@media only screen and (min-width: 768px) and (max-width: 1024px){
	border-top: $border-top;
    }
}

.footerGrid2 {
    @media only screen and (min-width: 768px) and (max-width: 1024px){
	@include justify-space-around;
    padding: 20px;
    }
    @media only screen and (min-width: 1024px) {
    @include justify-space-around;
    padding: 20px;
    }
}

.containerRedesSociales {
    border-bottom: 1px solid $colorLines;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    border: $border-none;
    }
    @media only screen and (min-width: 1024px) {
    border: $border-none;
    }
}

.cuenta, .ingresa, .registrarse {
    @include flex-justify-center;
}

.ingresoRegistro {
    @media only screen and (max-width: 768px) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.ingresoRegistro h3 {
    margin-top: 10px;
}

.ingresa p, .registrarse p {
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 10px;
}

.copyright {
    @include justify-flex-end;
    p {
        margin-right: 20px;
    }
}

/*------------------seccion Nosotros Mobile First-----------------------*/

.tituloSeccion h1 {
	@include flex-justify-center;
}

.tituloSeccion h1 {
	padding: map-get($estilos, tpadding);
	margin: map-get($estilos, tmargin);
    @media only screen and (min-width: 1024px) {
    padding: 30px;
    }
}

.imagen1, .imagen2 {
	@include flex-justify-align-content;
	border: 1px solid $colorLines;
}

.textoNosotros {
	@include flex-row-justify;
}

.texto1, .texto2 {
	@include flex-justify-align-content;
	padding: map-get($estilos, paddingTexto1);
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @include flex-justify-align-content;
    padding: map-get($estilos, paddingTexto1);
    }
    @media only screen and (min-width: 1024px) {
    @include flex-justify-align-content;
    }

}

/*-----------------------cierre seccion Nosotros Mobile First-----------------------*/
/*-----------------------inicio seccion Productos Vista Mobile-----------------------*/

.categoriasProductos {
    @media only screen and (max-width: 768px){
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
    }
}

.tituloProductos {
    @media only screen and (max-width: 768px){
    @include flex-justify-center;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @include flex-justify-center;
    }
    @media only screen and (min-width: 1024px) {
    @include flex-justify-center;
    }
}

.tituloProductos__titulo--text-align {
    @media only screen and (min-width: 1024px) {
    text-align: center;
    }
}

.tituloProductos__titulo--padding {
    padding: 40px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 50px;
    }
    @media only screen and (min-width: 1024px) {
    padding: 50px;
    }
}

.producto {
    @media only screen and (min-width: 1024px) {
    display: $flex;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    height: 150px;
    margin-top: 80px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    }
}

.card-body {
    @media only screen and (min-width: 1024px) {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
        vertical-align: middle;
    }
}
}

.card-text {
    text-align: center;
}

/*-----------------------cierre seccion Preguntas Frecuentes Vista Mobile-----------------------*/

.tituloPreguntas__titulo--padding {
    padding-top: 30px;
    padding-bottom: 30px;   
}

.tituloPreguntas__titulo--text-align {
    text-align: center;
}

.respuesta {
    text-align: left;
    margin-left: 20px;
}

.containerPreguntasRespuestas {
    padding: 25px;
}

.acordeon--paddingBottom {
    @media only screen and (max-width: 768px){
    padding-bottom: 30px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding-bottom: 50px;
    }
    @media only screen and (min-width: 1024px) {
    padding-top: 40px;
    }
}

.card-body {
    @media only screen and (min-width: 1024px) {
    display: $flex;
    justify-content: start;
    }
}

/*-----------------------inicio seccion Productos Vista Desktop-----------------------*/

.presentacionProductos {
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    }
}


/*---------------------inicio seccion Envios Vista Mobile ----------------------------*/

.tituloEnvios__titulo--padding {
    padding: 20px;
}

.tituloEnvios__titulo--textAlign, .texto--textalign {
    text-align: center;
}

.texto--padding  {
    padding: 5px;
}

.videoEnvios {
    @media only screen and (max-width: 768px){
    width: 100%;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 350px;
    height: 300px;
    margin-right: 5px;
    margin-bottom: 30px;
    }
    @media only screen and (min-width: 1024px) {
    margin-right: 15px;
    }
}

.enviosDomicilio {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 30px;
    }
}

/*----------------------inicio Contacto Vista Mobile------------------------------*/

.titular__titulo--padding {
    padding: 20px;
}

.titular__titulo--textAlign {
    text-align: center;
}

.subtituloContacto__titulo--padding {
    padding-bottom: 5px;
}

.subtituloContacto__titulo--margins {
    margin-bottom: 5px;
}

.subtituloContacto__titulo--textAlign {
    text-align: center;
}

.parrafo--textAlign {
    text-align: center;
}

.parrafo--margins {
    margin-bottom: 20px;
}

/*------------------------------inicio Error 404 Vista Mobile ------------------------------*/

.contenidoError {
    padding: 20px 20px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 10px 40px 0px 40px;
    }
    @media only screen and (min-width: 1024px) {
    padding: 50px 30px 400px 30px;
    }
}

.tituloError h1 {
    text-align: center;
}

.equivocacion__titulo--padding {
    padding: 10px 20px;
}

.equivocacion__titulo--margin {
    margin-top: 20px;
}

.containerTextoError {
    margin-bottom: 170px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 140px;
    margin-left: 500px;
    margin-bottom: 130px;
    }
}

.equivocacion__texto1--margin {
    @media only screen and (min-width: 1024px) {
    margin-top: 35px;
    }
}

.equivocacion__texto1--textAlign, .equivocacion__texto2--textAlign {
    text-align: center;
}