@import "colores";

$marginBottomNavMobile:0px;
$paddingNavLiMobile:10px;
$paddingZero: 0px;
$marginZero: 0px;


$flex:flex;
$justify-center:center;
$inlineFlex:inline-flex;
$spaceAround:space-around;
$justify-flex-end: flex-end;
$justify-flex-start: flex-start;

@mixin flex-justify-center {
	display:$flex;
	justify-content: $justify-center;
}

@mixin flex-justify-align-content {
	display:$flex;
	justify-content: center;
	align-content: center;
}

@mixin flex-row-justify {
	display: $flex;
	flex-flow: row wrap;
	justify-content: center;
}

@mixin justify-flex-end {
    display: flex;
    justify-content: flex-end;
}

@mixin justify-space-around {
    display: flex;
    justify-content: space-around;
}

@mixin justify-flex-start {
    display: flex;
    justify-content: flex-start;
}

$positionabs:absolute;
$positionrel:relative;
$positionTop:20px;
$positionRight:20px;

@mixin position-absolute {
	position: $positionabs;
	top: 20px;
	top: 20px;
}

/*map-get*/
$estilos: (
  tpadding:10px,
  tmargin:10px,
  alineacionTexto: justify,
  paddingTexto1: 10px 15px
);

$border-none: none;
$border-top: 2px solid white;

@media only screen and (max-width: 768px){
	* { margin: 0; padding: 0; }
	
	.imgFluid { width: 99%; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	* { margin: 0; padding: 0; }
	
	.imgFluid { width: 100%; }
}
@media only screen and (min-width: 1024px) {
	* { margin: 0; padding: 0; }
	
	.imgFluid { width: 100%; }

}

.borde {
    border-top: 2px solid $colorLines;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    border: $border-none;
    }
    @media only screen and (min-width: 1024px) {
    border: $border-none;
    }
}

div.carrito {
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
	position: $positionabs;
	top: 20px;
	right: 20px;}

    @media only screen and (min-width: 1024px) {
    position: $positionabs;
	top: 20px;
	right: 40px;
    }
}

.cartIcon {
    @media only screen and (min-width: 1024px) {
    margin-right:5px;
}
}

.paddingCarousel {
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid, footer, article, .presentacionProductos, .contenidoError, .enviosDomicilio, .mainCarrito {
    border-top: $border-top;
}

footer {
	@media only screen and (min-width: 768px) and (max-width: 1024px){
	border-top: $border-top;
    }
}

.footerGrid2 {
    @media only screen and (min-width: 768px) and (max-width: 1024px){
	@include justify-space-around;
    padding: 20px;
    }
    @media only screen and (min-width: 1024px) {
    @include justify-space-around;
    padding: 20px;
    }
}

.containerRedesSociales {
    border-bottom: 1px solid $colorLines;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    border: $border-none;
    }
    @media only screen and (min-width: 1024px) {
    border: $border-none;
    }
}

.cuenta, .ingresa, .registrarse {
    @include flex-justify-center;
}

.ingresoRegistro {
    @media only screen and (max-width: 768px) {
        /*margin-top: 15px;
        margin-bottom: 15px;*/
        padding: 20px;
    }
}

.ingresoRegistro h3 {
    margin-top: 10px;
}

.ingresa p, .registrarse p {
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 10px;
}

.copyright {
    @include justify-flex-end;
    p {
        margin-right: 20px;
    }
}

/*------------------seccion Nosotros BoxMod-----------------------*/

.tituloSeccion h1 {
	@include flex-justify-center;
}

.tituloSeccion h1 {
	padding: map-get($estilos, tpadding);
	margin: map-get($estilos, tmargin);
    @media only screen and (min-width: 1024px) {
    padding: 30px;
    }
}

.imagen1, .imagen2 {
	@include flex-justify-align-content;
	border: 1px solid $colorLines;
}

.textoNosotros {
	@include flex-row-justify;
}

.texto1, .texto2 {
	@include flex-justify-align-content;
	padding: map-get($estilos, paddingTexto1);
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @include flex-justify-align-content;
    padding: map-get($estilos, paddingTexto1);
    }
    @media only screen and (min-width: 1024px) {
    @include flex-justify-align-content;
    }

}

/*-----------------------inicio seccion Productos BoxMod-----------------------*/

.presentacionProductos {
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    }
}

.categoriasProductos {
    @media only screen and (max-width: 768px){
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
    }
}

.tituloProductos {
    @media only screen and (max-width: 768px){
    @include flex-justify-center;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @include flex-justify-center;
    }
    @media only screen and (min-width: 1024px) {
    @include flex-justify-center;
    }
}

.tituloProductos__titulo--text-align {
    @media only screen and (min-width: 1024px) {
    text-align: center;
    }
}

.tituloProductos__titulo--padding {
    padding: 40px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 50px;
    }
    @media only screen and (min-width: 1024px) {
    padding: 50px;
    }
}

.producto {
    @media only screen and (min-width: 1024px) {
    margin-right: 50px;
    margin-bottom: 70px;
    }
}

/*-----------------------cierre seccion Preguntas Frecuentes BoxMod-----------------------*/

.tituloPreguntas__titulo--padding {
    padding-top: 30px;
    padding-bottom: 30px;   
}

.tituloPreguntas__titulo--text-align {
    text-align: center;
}

.respuesta {
    text-align: left;
    margin-left: 20px;
}

.containerPreguntasRespuestas {
    padding: 25px;
}

.acordeon--paddingBottom {
    @media only screen and (max-width: 768px){
    padding-bottom: 30px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding-bottom: 50px;
    }
    @media only screen and (min-width: 1024px) {
    padding-top: 40px;
    }
}

.card-body {
    @media only screen and (min-width: 1024px) {
    display: $flex;
    justify-content: start;
    }
}

/*---------------------inicio seccion SHOP (antes Envios) BoxMod----------------------------*/

.enviosDomicilio {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px;
    }
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 70px;
    }
}

.tituloShop {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.productosCarrito {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    }
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    }
}

.productosContenedor {
    @media only screen and (max-width: 768px){
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    }
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0px 30px 40px 30px;
    padding: 40px;
    }
}

.tarjetas {  //VOLVER A REVISAR ESTE CODIGO PARA MOBILE Y DESKTOP
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 50px 40px 0px 40px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px 0px 0px 0px;
    }
    @media only screen and (min-width: 1024px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px 40px 0px 40px;
    }
}

.cuerpoTarjetas {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.tituloTarjetas {
    color: white;
    font-family: forum;
    text-align: center;
}

.precioTarjetas {
    font-family: forum;
    text-align: center;
}

.table {
    margin: 0px;
    border: none;
}

.tablaProductos {
    background: radial-gradient(#49494f, #303030);
    color: white;
    font-family: forum;
    font-size: 20px;
    text-align: center;
    
}

.table-bordered {
    border: 1px solid #49494f;
}

.encabezadoTabla {
    text-align: center;
    color: white;
    font-family: forum;
    font-size: 20px;
}

.btn-dark {
    width: 30px;
    border-radius: 15px;
    
}

.btn-delete {
    margin-left: 10px;
}

.precioTotal {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 70px;
    color: white;
    font-family: forum;
    font-size: 20px;
    background: radial-gradient(#49494f, #303030);
    padding: 22px;
}

.scrollSuperior, .scrollInferior {
    @media only screen and (max-width: 768px) {
    display: none;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    }
    @media only screen and (min-width: 1024px) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    }
}

.scrollAbajo, .scrollArriba {
    color: white;
    font-family: forum;
    font-size: 18px;
}

a:hover {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.modalYCategoria { //PENDING
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    }
    
    @media only screen and (min-width: 1024px) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    }
}

.botonModal {
    @media only screen and (max-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: center;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 40%;
    margin-top: 18px;
    }
    @media only screen and (min-width: 1024px) {
    padding: 20px;
    }
}

.selectCategoria {
    @media only screen and (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    }
    @media only screen and (min-width: 1024px) {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
    }
}


.textoSelect {
    color: white;
    font-family: forum;
    font-size: 20px;
    padding: 20px;
}

.formatoSelect {
    width: 200px;
    border: 3px solid #e3c55b;
	border-radius: 5px;
    color: black;
    font-family: forum;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}

.badge-warning {
    background-color: transparent;
    color: white;
    font-family: forum;
    font-size: 16px;
    padding: 10px;
}

/*----------------------inicio Contacto Vista Mobile BoxMod------------------------------*/

.titular__titulo--padding {
    padding: 20px;
}

.titular__titulo--textAlign {
    text-align: center;
}

.subtituloContacto__titulo--padding {
    padding-bottom: 5px;
}

.subtituloContacto__titulo--margins {
    margin-bottom: 5px;
}

.subtituloContacto__titulo--textAlign {
    text-align: center;
}

.parrafo--textAlign {
    text-align: center;
}

.parrafo--margins {
    margin-bottom: 20px;
}

/*------------------------------inicio Error 404 BoxMod ------------------------------*/

.contenidoError {
    padding: 20px 20px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 10px 40px 0px 40px;
    }
    @media only screen and (min-width: 1024px) {
    padding: 50px 30px 400px 30px;
    }
}

.tituloError h1 {
    text-align: center;
}

.equivocacion__titulo--padding {
    padding: 10px 20px;
}

.equivocacion__titulo--margin {
    margin-top: 20px;
}

.containerTextoError {
    margin-bottom: 170px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 140px;
    margin-left: 500px;
    margin-bottom: 130px;
    }
}

.equivocacion__texto1--margin {
    @media only screen and (min-width: 1024px) {
    margin-top: 35px;
    }
}

.equivocacion__texto1--textAlign, .equivocacion__texto2--textAlign {
    text-align: center;
}

/*------------------------------inicio Error 404 BoxMod ------------------------------*/

.cuerpoShop {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

/*------------------------------fin Error 404 BoxMod ------------------------------*/

