$backgroundColor:#303030;
$carritoColor:#fdfdfd;
$colorFont:white;
$colorLines: white;
$background-white: white;
$black-font: black;

/*map-get*/
$estilos: (
  color: white,
  mayuscula: uppercase,
);

/*mapa y bucle each*/
$redes: ( 
    instagram: $colorFont,
    facebook: $colorFont,
    whatsapp: $colorFont,
);

@each $red, $color in $redes {
    .redes__color--#{$red} {
        color: $color;
    }
}

$pagos: (
    efectivo: $colorFont,
    mastercard: $colorFont,
    visa: $colorFont
);

@each $pago, $color in $pagos {
    .pagos__color--#{$pago} {
        color: $color;
    }
}

$menuInferior: (
    nosotros: $colorFont,
    productos: $colorFont,
    preguntasFrecuentes: $colorFont,
    envios: $colorFont,
    contacto: $colorFont
);

@each $menuInf, $color in $menuInferior {
    .menuInferior__color--#{$menuInf} {
        color: $color;
    }
}

.carrito__icono--color, .tituloTeneme__titulo--color, .menu__item--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
    color: $colorFont;
}

.copyright {
    background-color: #b0afa4;
}

/*-------------------seccion Nosotros Colores----------------*/

.tituloSeccion h1 {
    color: map-get($estilos, color);
    text-transform: map-get($estilos, mayuscula);
}

.texto1, .texto2 {
	color: map-get($estilos, color);
}

footer {
    @media only screen and (max-width: 768px){
    background-color: $backgroundColor;
    }
}

/*-------------------seccion Productos Colores--------------------*/

.presentacionProductos {
    background: radial-gradient(#49494f, #303030);
}

.tituloProductos__titulo--color, .card-text {
    color: $colorFont;
}

/*----------------seccion Preguntas Frecuentes y Envios Colores-------------*/

.card, .enviosDomicilio {
    background: radial-gradient(#49494f, #303030);
}

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color, .titular__titulo--color, .subtituloContacto__titulo--color, .parrafo--color, .btn, .btn-link, .btn-link:hover {
    color: $colorFont;
}

.respuesta {
    color: #c4bfbe;
}

/*--------------seccion Error 404 Colores---------------------------*/

.equivocacion__titulo--color, .equivocacion__texto1--color, .equivocacion__texto2--color {
    color: $colorFont;
}

