$backgroundColor:#303030;
$carritoColor:#fdfdfd;
$colorFont:white;
$colorLines: white;
$background-white: white;
$black-font: black;

/*map-get*/
$estilos: (
  color: white,
  mayuscula: uppercase,
);

.carrito__icono--color, .tituloTeneme__titulo--color, .menu__item--color, .menuInferior__item--color, .redes__instagram--color, .redes__facebook--color, .redes__whatsapp--color, .pagos__efectivo--color, .pagos__mastercard--color, .pagos__visa--color, .cuenta_titulo--color, .ingresa__texto--color, .registrarse__texto--color {
    color: $colorFont;
}

.copyright {
    background-color: #b0afa4;;
}

/*-------------------seccion Nosotros----------------*/

.tituloSeccion h1 {
    color: map-get($estilos, color);
    text-transform: map-get($estilos, mayuscula);
}

.texto1, .texto2 {
	color: map-get($estilos, color);
}

footer {
    @media only screen and (max-width: 768px){
    background-color: $backgroundColor;
    }
}

/*-------------------seccion Productos--------------------*/

.presentacionProductos {
    background: radial-gradient(#49494f, #303030);
}

.tituloProductos__titulo--color, .card-text {
    color: $colorFont;
}

/*----------------seccion Preguntas Frecuentes y Envios -------------*/

.card, .enviosDomicilio {
    background: radial-gradient(#49494f, #303030);
}

.tituloPreguntas__titulo--color, .tituloEnvios__titulo--color, .texto--color, .titular__titulo--color, .subtituloContacto__titulo--color, .parrafo--color, .btn, .btn-link, .btn-link:hover {
    color: $colorFont;
}

.respuesta {
    color: #c4bfbe;
}


