@import "colores";

/*------------------inicio Index Vista Mobile First ---------------------*/

.gridError {
    display: grid;
    grid-template-areas: 
    "logo"
    "encabezado"
    "encabezado2"
    "error"
    "redes"
    "pagos"
    "ingresoRegistro"
    "copyright";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: $backgroundColor;
}

header {
    grid-area: logo;
    display: $flex;
    justify-content: $justify-center;
    position: relative;
}

.carrito {
    grid-area: logo;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav.navIzq {
    grid-area: encabezado;
    ul {
        display: inline-flex;
        justify-content: $spaceAround;
        width: 100%;
        margin-bottom: $marginBottomNavMobile;
        li {
            list-style-type: none;
            padding: $paddingNavLiMobile;
        a {
            text-decoration: none;
        }
        }
    ul {
        display: none;
    }
    }
}

nav.navDer {
    grid-area: encabezado2;
    ul{
        display: inline-flex;
        justify-content: $spaceAround;
        width: 100%;
        margin-bottom: $marginBottomNavMobile;
        li {
            list-style-type: none;
            padding: $paddingNavLiMobile;
        a{
            text-decoration: none;
        }
        }
    }
}

nav.navIzq ul li a:hover, nav.navDer ul li a:hover {
    color: #e3c55b;
}

.contenidoError {
    grid-area: error;
    background-image: url(../assets/images/error_404_plato.jpg);
}

.tituloTeneme {
    display: none;
}

.menuInferior {
    display: none;
}

.redes {
    grid-area: redes;
    ul {
        display: $flex;
        justify-content: $spaceAround;
        li {
            list-style-type: none;
            padding: 5px;
        a {
            text-decoration: none;
            margin-top: 15px;
            border-radius: 50%;
            padding: .6em .6em;
        }
        }
    }
}

.pagos {
    grid-area: pagos;
    ul {
        display: $flex;
        justify-content: $spaceAround;
        li {
            list-style-type: none;
            padding: 5px;
        a {
            text-decoration: none;
            margin-top: 15px;
            border-radius: 50%;
            padding: .6em .6em;
        }
        }
    }
}

.redes ul li a:hover, .pagos ul li a:hover {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: white;
    color: #ecce1f;
}

.ingresoRegistro {
    grid-area: ingresoRegistro;
}

.copyright {
    grid-area: copyright;
}

/*------------------------------cierre Error Vista Mobile First --------------------------------*/

/*------------------------------cierre Error Vista Tablet --------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px){

    .gridError {
        display: grid;
        grid-template-areas: 
        "encabezado logo encabezado2"
        "error error error"
        "footer footer footer";
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: auto;
        background-color: $backgroundColor;
    }

    header {
        grid-area: logo;
    }

    .carrito {
        grid-area: encabezado2;
    }

    nav.navIzq {
        grid-area: encabezado;
    }

    nav.navDer {
        grid-area: encabezado2;
    }

    .contenidoError {
        grid-area: error;
    }

    footer {
        grid-area: footer;
    }

}
/*------------------------------cierre Error Vista Tablet --------------------------------*/
