@import "colores";

/*------------------------inicio Preguntas Frecuentes Vista Mobile First---------------------------*/

.gridPreguntasFrecuentes {
    display: grid;
    grid-template-areas:
    "logo"
    "encabezado"
    "encabezado2"
    "preguntas"
    "redes"
    "pagos"
    "ingresoRegistro"
    "copyright";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: $backgroundColor;
}

header {
    grid-area: logo;
}

.carrito {
    grid-area: logo;
}

nav.navIzq {
    grid-area: encabezado;
}

nav.navDer {
    grid-area: encabezado2;
}

.containerPreguntasRespuestas {
    grid-area: preguntas;
}

.tituloTeneme {
    display: none;
}

.menuInferior {
    display: none;
}

.redes {
    grid-area: redes;
}

.pagos {
    grid-area: pagos;
}

.ingresoRegistro {
    grid-area: ingresoRegistro;
}

.copyright {
    grid-area: copyright;
}

/*------------------------------------cierre Preguntas Frecuentes Vista Mobile First-----------------------------------*/

/*------------------------------------Inicio Preguntas Frecuentes Vista Tablet-----------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px){
    




}

/*------------------------------------cierre Preguntas Frecuentes Vista Tablet-----------------------------------*/