$forum:forum;
$sizeFontNavMobile:20px;

/*map-get*/
$estilos: (
  fuente: forum,
);

.menu__item--fontFamily {
    font-family: $forum;
}

.menu__item--fontSize {
    font-size: 19px;
}

.carouselCaption__item--fontSize {
    @media only screen and (max-width: 768px) {
    font-size: 25px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 60px;
    }
    @media only screen and (min-width: 1024px) {
    font-size: 90px;
    }
}

.tituloTeneme__titulo--fontFamily {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-family: $forum;
    }
    @media only screen and (min-width: 1024px) {
    font-family: $forum;
    }
}

.tituloTeneme__titulo--fontSize {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 20px;
    }
    @media only screen and (min-width: 1024px) {
    font-size: 30px;
    }
}


.redes__instagram--size, .redes__facebook--size, .redes__whatsapp--size, .pagos__efectivo--size, .pagos__mastercard--size, .pagos__visa--size {
    font-size: 25px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 20px;
    }
    @media only screen and (min-width: 1024px) {
    font-size: 20px;
    }
}
.menuInferior__item--fontFamily, .cuenta__titulo--fontFamily, .ingresa__texto--fontFamily, .registrarse__texto--fontFamily, .copyright__texto--fontFamily {
    font-family: $forum;
}

.cuenta__titulo--fontSize {
    @media only screen and (max-width: 768px) {
        font-size: 25px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 19px;
    }
    @media only screen and (min-width: 1024px) {
    font-size: 22px;
    }
}


/*--------------------seccion Nosotros-------------------------*/

.tituloSeccion h1 {
    font-family: map-get($estilos, fuente);
    @media only screen and (min-width: 1024px) {
    font-size: 40px;
    }
}

.texto1, .texto2 {
	font-Family: map-get($estilos, fuente);
}

/*------------------seccion Productos------------------------*/

.tituloProductos__titulo--fontFamily {
    font-family: $forum;
}

.tituloProductos__titulo--fontsize {
    font-size: 40px;

}

.card-text {
    font-family: $forum;
    font-weight:bold;
}

.tituloPreguntas__titulo--fontFamily, .tituloEnvios__titulo--fontFamily, .texto--fontFamily, .titular__titulo--fontFamily, .subtituloContacto__titulo--fontFamily, .parrafo--fontFamily {
    font-family: $forum;
}

.tituloPreguntas__titulo--fontSize, .tituloEnvios__titulo--fontSize {
    font-size: 33px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 40px;
    }
}

.btn {
    font-family: $forum;
    font-size: 20px;
}

.respuesta {
    font-family: map-get($estilos, fuente);
    font-size: 18px;
}

.texto--fontSize {
    font-size: 17px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 20px;
    }
}

.tituloEnvios {
    width: 100%;
}

.tituloEnvios__titulo--padding {
    padding: 40px;
}

.titular__titulo--fontSize {
    font-size: 40px;
}

.subtituloContacto__titulo--fontSize {
    font-size: 30px;
}

.parrafo--fontSize {
    font-size: 18px;
}

/*----------------------seccion Error 404 -------------------------------------*/

.equivocacion__titulo--fontFamily, .equivocacion__texto1--fontFamily, .equivocacion__texto2--fontFamily {
    font-family: $forum;
}

.equivocacion__titulo--fontSize {
    font-size: 40px;
}
